<div class="update-product">
    <h1>Modificar producto</h1>
    <p class="p-message">{{ productMessage }}</p>
    <form
      #addProduct="ngForm"
      (ngSubmit)="submit(addProduct.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel="{{ productData?.name }}"
        name="name"
        placeholder="Ingrese nombre del producto"
      />
  
      <input
        class="form-input"
        type="text"
        ngModel="{{ productData?.price }}"
        name="price"
        placeholder="Ingrese precio del producto"
      />
  
      <input
        class="form-input"
        type="text"
        ngModel="{{ productData?.category }}"
        name="category"
        placeholder="Ingrese categoria del producto"
      />
  
      <textarea
        class="form-input"
        type="text"
        ngModel="{{ productData?.description }}"
        name="description"
        placeholder="Ingrese descripcion del producto"
      ></textarea>
  
      <input
        class="form-input"
        type="text"
        ngModel="{{ productData?.image }}"
        name="image"
        placeholder="Ingrese URL de la imagen del producto"
      />

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          ngModel
          name="popular"
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Producto popular</label
        >
      </div>
  
      <button class="form-button">Update Producto</button>
    </form>
  </div>
  