.cart-page{
    margin-top: 40px;
    margin-bottom: 60px;
}

.details img{
    height: 100px;
}

.details ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.summary{
    margin-top: 40px;
}

.summary p{
    font-size: 30px;
}

.add-to-orders {
    background-color: #EF8F18;
    border-radius: 3px;
    border: 1px solid black;
}

.login-link {
    color: #EF8F18;
    text-decoration: none;
    font-weight: bold;
}