<div class="cart-page">
    <h1 class="text-center">Carrito de Compras</h1>
    <div class="row p-3 container-fluid">
        <div *ngIf="EmptyCartMessage" class="d-flex justify-content-center">
            <span>No tiene productos en su carrito</span>
        </div>
        <div *ngIf="!EmptyCartMessage" class="details">
            <ul *ngFor="let cart of cartData" class="d-flex justify-content-between align-items-center">
                <li>
                    <img src="{{cart['image']}}" alt="">
                </li>
                <li>
                    <span>Nombre del producto:{{cart['name']}}</span>
                </li>
                <li>
                    <span>Cantidad: {{cart['quantity']}}</span>
                </li>
                <li>
                    <span>Precio: ${{cart['price']}}</span>
                </li>
                <li>
                    <button class="form-button add-to-cart" (click)="removeToCart(cart['id'])">Eliminar del carrito</button>
                </li>
            </ul>
            <p>{{emptyCartData}}</p>
        </div>
        <div *ngIf="!EmptyCartMessage"  class="summary d-flex justify-content-center align-items-center">
            <p class="float-start me-2 fw-bold">Total a pagar: <p>${{totalPrice.price}}</p><p>
        </div>
        <div *ngIf="!EmptyCartMessage"  class="text-center mt-2">
            <Button class="form-button add-to-cart" (click)="purchase()">Realizar Compra</Button>
            <p class="p-message">{{ purchaseErrorMessage }}</p>
            <p class="p-message">{{ successfulPurchaseMessage }}</p>
        </div>
    </div>
</div>
