<ngb-carousel *ngIf="popularProducts">
	<ng-template *ngFor="let item of popularProducts" ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="/details/{{ item.id }}">

				<img class="product-header-img" src="{{ item.image }}" alt="Random first slide" />
			</a>
		</div>
		<div class="carousel-caption">
			<h3>{{ item.name }}</h3>
			<p>{{ item.description }}</p>
		</div>
	</ng-template>
</ngb-carousel>
 
<h1 class="mt-5 mb-5">Productos Destacados</h1>

<div class="cards-container row row-cols-1 row-cols-md-3 g-4 justify-content-center">
  <div class="col" *ngFor="let item of trendyProducts">
    <div class="card">
      <img src="{{ item.image }}" class="card-img-top"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">
			Precio (por 15 unidades): $ {{ item.price }}
        </p>
	</div>
	<div class="card-footer text-center">
		<a class="product-link" routerLink="/details/{{ item.id }}">Ver detalles</a>
	</div>
    </div>
  </div>
</div>

<div class="text-center">
	<button class="form-button" routerLink="/product-list">Ver más</button>
</div>

