.header-main {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #323232
  }
  
  .header-icon {
  color: white;
  width: 60px;
  }
  
  /* .search-bar-input {
    width: 300px;
    height: 45px;
    outline: none;
    border: 2px solid black;
    border-bottom: 1px solid white;
    border-right: none;
    color: white;
    background-color: #000;
  } */
  
  /*   .search-bar-form-control::placeholder {
    color: white;
  } */
  
  /*   .search-bar-form-control {
    width: 200px !important; 
    height: 45px !important;
    outline: none !important;
    border-radius: 0px !important;
    border: 2px solid black !important;
    border-bottom: 1px solid white !important;
    border-right: none !important;
    color: #D6D6D6 !important;
    background-color: #000 !important;
  } */
  
  /*   .searchIcon {
    background-color: black;
    height: 45px;
    padding-top: 8px;
    width: 40px;
    padding-left: 8px;
    cursor: pointer;
    border: 2px solid black;
    border-bottom: 1px solid white;
    border-left: none;
  } */
  
  /* .searchIcon {
  background-color: black;
  height: 45px;
  padding-top: 8px;
  width: 40px;
  padding-left: 8px;
  cursor: pointer;
  border: 2px solid black;
  border-bottom: 1px solid white;
  border-left: none;
  } */
  
  .login-register {
    padding: 0px !important;
  }
  
  .register {
  color: white;
  font-size: 9px;
  padding: 0 !important;
  }
  
  .login {
  color: white;
  font-size: 9px;
  padding: 0 !important;
  }
  
  .nav-link {
    font-weight: bold;
    padding: 0px !important;
    color: black !important;
  }
  
  .navbar-right-top .nav-item .nav-link {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #82849f;
  }
  
  /* .search-bar-input::placeholder {
  color: white;
  } */
  
  
  /* .search-form {
    border: 1px solid #ffffff !important
  } */
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
     box-shadow: none !important;
  }
  
  .navbar {
    margin-top: 5px;
  }
  
  .navbar-main {
    background-color: #fff
  }
  
  .responsive-search {
    color: red;
  }
  
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1) !important;
    height: 45px;
  }
  
  
  
  .navbar-toggler-icon {
    background-image: url(https://img.icons8.com/ios/50/000000/menu.png)
  }
  
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  
  .navbar-right-top .nav-item {
    border-right: 1px solid #e6e6f2;
  }
  
  .navbar-right-top .nav-item:last-child {
    border: none;
  }
  
  .nav-link {
    font-weight: bold;
    padding: 0px !important;
    color: black !important;
  }
  
  .navbar-right-top .nav-item .nav-link {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #82849f;
  }
  
  .item-sale {
    font-weight: bold;
    color: #ff0000;
  }
  
  .item-sale:hover {
    color: #ff0000;
  }
  
  .item {
    font-weight: bold;
    color: #000;
  }
  
  .item:hover {
    color: black;
  }
  
  .sale {
    color: red;
  }
  
  
  /* FOOTER */
  footer p, h5{
    color: white;
  }
  
  .bi{
    color: white;
  }
  
  .footer {
    background-color:  #323232;
  }
  
  
  .footercopyrigh {
    background-color: #252525;
  } 
  
  .ulredes {
    display: flex;
    justify-content: center;
  }
  
  .social-items {
    display: flex;
    justify-content: center;
  }
  
  .a-social-item {
    margin-left: 17px;
  }
  
  .footer-img {
    width: 215px;
  }
  
  .footer-middle-col, .footer-end-col{
    margin-top: 0px;
  }
  
  
  @media (min-width: 576px) {
  .header-icon {
    width: 65px;
  }
  
  .register {
    font-size: 11px;
  }
  
  .login {
    font-size: 11px;
  }
  
  .navbar {
    margin-top: 5px;
  }
  
  .footer-img {
    max-width: 85%;
  }
  
  }
  
  @media (min-width: 768px) {
  .header-icon {
    width: 80px;
  }
  
  .register {
    font-size: 12px;
  }
  
  .login {
    font-size: 12px;
  }
  
  .navbar {
    margin-top: 20px;
  }
  
  .footer-img {
    max-width: 85%;
    margin-bottom: 30px;
  }
  
  }
  
  .maki-menu-icon{
    height: auto;
    width: 125px;
  }
  
  @media (min-width: 992px) {
    .navbar {
        margin-top: 20px;
      }
  
      .footer-img {
        max-width: 100%;
      }
  
      .footer-middle-col, .footer-end-col{
        margin-top: 25px;
      }
      
  }
  
  @media (min-width: 1200px) {
  .register {
    font-size: 15px;
  }
  
  .login {
    font-size: 15px;
  }
  
  .navbar {
    margin-top: 20px;
  }
  
  .a-social-item {
    margin-left: 0px;
    margin-right: 20px;
  }
  .social-items {
    display: flex;
    justify-content: start;
  }
  
  }
  
  @media (min-width: 1400px) {
  .register {
    font-size: 18px;
  }
  
  .login {
    font-size: 18px;
  }
  
  .search-bar-input {
    width: 600px;
  }
  
  .navbar {
    margin-top: 20px;
  }
  
  .a-social-item {
    margin-left: 0px;
    margin-right: 30px;
  }
  .social-items {
    display: flex;
    justify-content: start;
  }
  }
  
    