<h1 class="my-4">Menú</h1>
<div class="container-fluid row">

<!-- PRODUCT FILTERS -->

    <div class="col-lg-3">
<!-- ALL PRODUCTS -->
      <div>
        <button
          type="button"
          (click)="allPrices()"
          class="button-16"
        >
          <span>Mostrar todos los productos</span>
        </button>
      </div>

<!-- FILTER BY PRICE -->

      <div>
        <button
          type="button"
          (click)="priceCollapsed = !priceCollapsed"
          [attr.aria-expanded]="!priceCollapsed"
          aria-controls="collapseExample"
          class="button-16 d-flex align-items-center"
        >
        <span>Filtrar por precios</span>
        <fa-icon *ngIf="priceCollapsed" class="down-icon" [icon]="downIcon"></fa-icon>
      </button>
      </div>
      
      <div class="container-fluid">
        <div #collapse="ngbCollapse" [(ngbCollapse)]="priceCollapsed">
          <input type="checkbox" [(ngModel)]="showPrice1" > Menor a 300<br>
          <input type="checkbox" [(ngModel)]="showPrice2" > $300-$400<br>
          <input type="checkbox" [(ngModel)]="showPrice3" > $400 - $500<br>
          <input type="checkbox" [(ngModel)]="showPrice4" > $500 - $600<br>
          <input type="checkbox" [(ngModel)]="showPrice5" > Mayor a $600<br>
          
         <!--  <ul
            class="list container-fluid navbar-nav mr-auto d-flex justify-content-between"
          >
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="price(0, 300)">
                <p class="item">Menor a $300</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="price(300, 400)">
                <p class="item">$300-$400</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-user-img" (click)="price(400, 500)">
                  <p class="item">$400 - $500</p>              
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="price(500, 600)">
                <p class="item">$500 - $600</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link item text-decoration-none" (click)="price(600, 1000)">
                <p class="item">Mayor a $600</p>
              </a>
            </li>
          </ul> -->
        </div>
      </div>

<!-- FILTER BY INGREDIENTS -->

      <div >
        <button
          type="button"
          (click)="ingredientCollapsed = !ingredientCollapsed"
          [attr.aria-expanded]="!ingredientCollapsed"
          aria-controls="collapseExample"
          class="button-16 d-flex align-items-center"
        >
          <span>Filtrar por ingredientes</span>
          <fa-icon *ngIf="ingredientCollapsed" class="down-icon" [icon]="downIcon"></fa-icon>
        </button>
      </div>
      
      <div class="container-fluid">
        <div #collapse="ngbCollapse" [(ngbCollapse)]="ingredientCollapsed">
          <input type="checkbox" [(ngModel)]="showPalta" > Palta<br>
          <input type="checkbox" [(ngModel)]="showSalmon" > Salmón<br>
          <input type="checkbox" [(ngModel)]="showPhiladelphia" > Philadelphia<br>
          <input type="checkbox" [(ngModel)]="showSalsaDeSoja" > Salsa de Soja<br>
          <input type="checkbox" [(ngModel)]="showZanahoria" > Zanahoria<br>
          <input type="checkbox" [(ngModel)]="showMorron" > Morron<br>
          <input type="checkbox" [(ngModel)]="showZapallito" > Zapallito<br>
          <input type="checkbox" [(ngModel)]="showCebolla" > Cebolla<br>
          <input type="checkbox" [(ngModel)]="showBrotesDeSoja" > Brotes de Soja<br>
          <input type="checkbox" [(ngModel)]="showPollo" > Pollo<br>
          <input type="checkbox" [(ngModel)]="showPepino" > Pepino<br>
          <input type="checkbox" [(ngModel)]="showLechuga" > Lechuga<br>
          <input type="checkbox" [(ngModel)]="showRucula" > Rucula<br>
          <input type="checkbox" [(ngModel)]="showTomates" > Tomates<br>
          <input type="checkbox" [(ngModel)]="showMayonesa" > Mayonesa<br>
          <!-- <ul
            class="list container-fluid navbar-nav mr-auto d-flex justify-content-between"
          >
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Palta')">
                <p class="item">Palta</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Salmón')">
                <p class="item">Salmón</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-user-img" (click)="ingredient('Philadelphia')">
                  <p class="item">Philadelphia</p>              
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Salsa de Soja')">
                <p class="item">Salsa de Soja</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Zanahoria')">
                <p class="item">Zanahoria</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Morron')">
                <p class="item">Morron</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Zapallito')">
                <p class="item">Zapallito</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-user-img" (click)="ingredient('Cebolla')">
                  <p class="item">Cebolla</p>              
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Brotes de Soja')">
                <p class="item">Brotes de Soja</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Pollo')">
                <p class="item">Pollo</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Pepino')">
                <p class="item">Pepino</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Lechuga')">
                <p class="item">Lechuga</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-user-img" (click)="ingredient('Rucula')">
                  <p class="item">Rucula</p>              
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Tomates')">
                <p class="item">Tomates</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none" (click)="ingredient('Mayonesa')">
                <p class="item">Mayonesa</p>
              </a>
            </li>
          </ul> -->
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="button-16 d-flex align-items-center" (click)="filterAll()">Filtrar</button>
      </div>        
    </div>
    

    <!-- PRODUCT LIST -->

    <div class="col-lg-9">
      <p *ngIf="notResultFound">No se encontraron resultados</p>
        <div class="cards-container row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let item of filteredProducts">
              <!-- <div class="col" *ngFor="let item of products"> -->
              <div class="card">
                <img src="{{ item.image }}" class="card-img-top"
                  alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">
                      Precio (por 15 unidades): $ {{ item.price }}
                  </p>
              </div>
              <div class="card-footer text-center">
                  <a class="product-link" routerLink="/details/{{ item.id }}">Ver detalles</a>
              </div>
              </div>
            </div>
          </div>
    </div>
</div>